#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: linear-gradient(90deg, #a78bfa, #ec4899);
    height: 2px;
    box-shadow: 0 0 15px #a78bfa;
    bottom: auto;
    top: calc(56px + 6px);
    left: 0;
    z-index: 51;
}

#nprogress .peg {
    box-shadow: 0 0 15px #a78bfa, 0 0 8px #a78bfa;
}

#nprogress .spinner {
    display: none;
}